@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "flatpickr/dist/flatpickr.min.css";
@import "tailwindcss";
@source "../views";

@layer base {
    body {
        font-family: "Montserrat", sans-serif;
        color: #f4f4f4;
    }
}

@theme {
    --color-primary: #f27329;
    --color-secondary: #00a2ea;
    --color-white: #f4f4f4;
    --color-white-50: #ffffff;
    --color-white-100: #f4f4f4;
    --color-white-200: #ececec;
    --color-grey-100: #d9d9d9;
    --color-grey-200: #d4d4d4;
    --color-grey-400: #788593;
    --color-grey-500: #616d79;
    --color-grey-900: #151d26;

    --color-orange-100: #f2a71b;
    --color-orange-500: #f2921d;
    --color-orange-900: #f27329;

    --default-font-family: "Montserrat", "sans-serif";
    --background-image-headerbackground: url("/resources/img/hero_background.jpg");
    --background-image-overlay: linear-gradient(
        218deg,
        rgba(0, 162, 234, 0.3) 0%,
        rgba(21, 29, 38, 0.3) 100%
    );
}
